html, body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #E9EFF3;
}

* {
  box-sizing: border-box;
}

html,body,ul,ol,li,p,h1,h2,h3,h4,h5 {
    padding:0;
    margin:0;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
body.el-loading-parent--hidden{overflow:auto!important}
.el-autocomplete-suggestion li:hover{background:#409EFF!important;color:#fff}

a:focus,
a:active ,
i:focus,
i:active,
span:focus,
span:active{
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.bg-white{background:#fff}

.f-r {
  float: right;
}

.f-l {
  float: left;
}

// 超出部分...
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.block {
  display: block;
}

.none {
  display: none;
}

.pointer {
  cursor: pointer;
}

.opc {
  opacity: 0;
}

.text-left {
  text-align: left;
}

.text-center,.text-center .cell {
  text-align: center;
}

.text-right {
  text-align: right;
}
.lright{justify-content:flex-end}
.marg-top-20 {
  margin-top: 20px;
}

.marg-top-35 {
  margin-top: 35px;
}

.m-l-5 {
  margin-left: 5px;
}

.m-r-15 {
  margin-right: 15px;
}
.m-l-16 {
  margin-left: 16px!important;
}
.m-r-20 {
  margin-right: 20px;
}
.m-b-30 {
  margin-bottom: 30px;
}


.text-blue {
  color: #1494eb;
}
.mar-l-r30{margin:0 30px;}
.mar-l-r16{margin:0 16px;}
.flex {
  display: flex;
}
.vcenter{
  align-items:center
}

.reset_icon i{
  display: inline-block;
  padding: 0 5px;
  margin: 0 5px;
  cursor: pointer;
}

.common-section {
  font-size: 14px;
  background: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .05);
  margin: 20px 30px;
}

.form__content {
  padding: 0 30px;
}

.pointer {
  cursor: pointer;
}

.clearfix::after{
  content: ".";
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 0;
  height: 0;
}

/**表格设置*/
.el-table th>.cell{
  color:#444
}
.h80{height:80px}
.h66{height:66px}
.el-table{color:#444;border:1px solid #ebeaef!important;border-bottom:0!important}
.el-table td{border-bottom:1px solid #ebeaef!important}
.el-table a{color:#1494eb}

/*搜索框*/
.search-bar{padding:32px 0;border-bottom:1px solid #eaeff3}
.search-bar .el-date-editor,.search-bar .el-col-17 .el-input{width:85%!important}
.search-bar .el-date-editor .el-range-separator{width:12%}
.search-lable{color:#444;font-size:14px;padding-right:12px;text-align:right}
.search-bar select{border:1px solid #dcdfe6;width:85%;height:32px;border-radius:6px;outline:none;}
.shrink{color:#b0b9c2;font-size:14px}
.shrink i{margin-right:8px}
